@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    box-sizing: border-box;
}
body{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins",sans-serif;
    margin: 0;
    min-height: 100vh;
}
img{
    max-width: 100%;
}
.mobile-container{
    background-color: #fff;
    box-shadow: 0 0 10px 2px #3333331a;
    overflow: hidden;
    border-radius: 3px;
    width: 400px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
header input{
    background-color: #ecf3ed;
    border: none;
    border-radius: 3px;
    padding: 0.3rem 1rem;
}
header button{
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.5rem;
    margin-left: 10px;
}
.fav-container{
    background-color: rgb(207, 186, 196);
    padding: 1rem;
    text-align: center;
}
.fav-meals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.fav-meals li{
    position: relative;
    margin: 5px;
    width: 80px;


}
.fav-meals li .clear{
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: -0.3rem;
    right: -0.3rem;

}
.fav-meals li:hover .clear{
    opacity: 1;
}

.fav-meals li img{
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #3333331a;
    object-fit: cover;
    height: 60px;
    width:  60px;
}
.fav-meals li span{
    font-size: 0.7rem;

}
.meal{
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #3333331a;
    margin: 1rem;
}
.meal-header{
    position: relative;
}
.meal-header .random{
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.meal-header img{
    object-fit: cover;
    height: 250px;
    width: 100%;
}
.meal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;


}
.meal-body h4{
    margin: 0;
}
.meal-body .fav-btn{
    
    background-color: transparent;
    border: none;
    color: rgb(197, 188, 188);
    cursor: pointer;
    font-size: 1.2rem;

}
.meal-body .fav-btn.active{
    color: red;
}

.popup-container{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
   
}
.popup-container.hidden{
    opacity: 0;
    pointer-events: none;
}

.popup{
    background-color: #fff;
    border-radius: 5px;
    padding: 0 2rem;
    position: relative;
    overflow: auto;
    max-height: 100vh;
    max-width: 600px;
    width: 100%;
}
.meal-info h1{
    text-align: center;
}
.popup .close-popup{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}